@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-family-sans: "Public Sans", "sans-serif";
}

body {
  /* font-family: "Public Sans", serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans[wght].ttf");
  font-weight: 400 900;
  font-display: swap;
}
@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans-Italic[wght].ttf");
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
}

.debug {
  outline: 2px dashed var(--debug-color, red);
}

.debug-orange,
debug > debug {
  --debug-color: orange;
}

.debug-purple,
debug > debug > debug {
  --debug-color: purple;
}

.debug-blue,
debug > debug > debug > debug {
  --debug-color: blue;
}

.debug-green,
debug > debug > debug > debug > debug {
  --debug-color: green;
}

.mapboxgl-control-container {
  /* TODO: Re-enable this */
  display: none !important;
}
